<div class="container">
  <div class="help footer-col">
    <h5>HELP</h5>
    <p>
      SHOP AT ZARA.COM <br />
      PRODUCT <br />
      PAYMENT <br />
      SHIPPING <br />
      EXCHANGES AND RETURNS <br />
      SHOPS AND COMPANY <br />
      CLOTHES COLLECTION PROGRAMME <br />
      MY ACCOUNT
    </p>
  </div>
  <div class="followUs footer-col">
    <h5>FOLLOW US</h5>
    <p>
      NEWSLETTER <br />
      TIKTOK <br />
      INSTAGRAM <br />
      FACEBOOK <br />
      TWITTER <br />
      PINTEREST <br />
      YOUTUBE
    </p>
  </div>
  <div class="company footer-col">
    <h5>COMPANY</h5>
    <p>
      ABOUT US <br />
      OFFICES <br />
      STORES
    </p>
  </div>
  <div class="policy footer-col">
    <h5>POLICY</h5>
    <p>
      PRIVACY POLICY <br />
      PURCHASE CONDITIONS <br />
      COOKIES SETTINGS
    </p>
  </div>
</div>
