<app-navbar></app-navbar>
<div class="blank-container">
    <p>.</p>
</div>
<div class="cartItem-container">
    

    <div class="card"  *ngFor="let cartItem of cartItems">
        <img [src]="cartItem.product.imageUrl" alt="">
        <div class="card-text">
            <h5>{{cartItem.product.name}}</h5>
            <p>{{ cartItem.product.price | currency: "Ks "  }}
                 <br>
                {{cartItem.size}}
            </p>
            <div class="number-input">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
                <input class="quantity" min="1" name="quantity" type="number" [(ngModel)]="cartItem.quantity" >
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
            </div>
            <p><i class="far fa-trash-alt"></i></p>
        </div>
    </div>

    
</div>
<div class="bottom-bar">
    <div class="container">
        <p>TOTAL : {{shoppingCart.total}}</p>
        <button>
            CONTINUE
        </button>
    </div>
</div>