.blank-container{
  height: 120px;
}
.container{
  width: 100%;
}
.card{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 250px;
  margin-top: 50px;
}

.card h3{
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}
form{
  margin-bottom: 30px;
}
input {
  height: 20px;
  border: 0;
  width: 250px;
  border-bottom: 1px solid rgb(189, 186, 186);
}

.user-input-wrp {
  position: relative;
  width: 250px;
  height: 70px;
}
.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.user-input-wrp .inputText:focus {
  border-color: rgb(104, 104, 104);
  border-width: small small 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 19px;
  left: 5px;
  font-size: 10px;
  transition: 0.2s ease all;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
}
.user-input-wrp .hint-email {
  display: none;
  font-size: 9px;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
}
.user-input-wrp input:focus ~ .hint-email {
  font-size: 9px;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
  display: block;
}
.user-input-wrp input:focus ~ .alert {
  display: none;
}
.user-input-wrp .required-warning {
  color: red;
  font-size: 9px;
  font-family: "Roboto Condensed", sans-serif;
}
button {
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 250px;
  height: 35px;
  font-size: 12px;
  text-align: center;
}
