<app-navbar></app-navbar>
<div class="blank-container">
    <p>.</p>
</div>
<div class="container">
  <div class="card">
    <h3>PERSONAL DETAILS</h3>
    <form #signupForm="ngForm" (ngSubmit)="signupForm.valid && signup()">
      <div class="user-input-wrp email-input-wrp form-group">
        <br />
        <input
          type="email"
          class="inputText email-input form-control"
          name="email"
          id="email"
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
          [(ngModel)]="model.email"
          #email="ngModel"
          required
        />
        <span class="floating-label">E-MAIL ADDRESS</span>
        <p class="hint-email">
          <i class="fas fa-exclamation-circle"></i> Enter your e-mail address.
        </p>
        <div
          class="alert"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <p
            class="required-warning invalid-feedback"
            *ngIf="email.errors?.required"
          >
            <i class="fas fa-exclamation-circle"></i> Required field
          </p>
        </div>
      </div>
      <div class="user-input-wrp password-input-wrp form-group">
        <br />
        <input
          type="text"
          name="name"
          class="inputText form-control"
          id="name"
          [ngClass]="{ 'is-invalid': name.touched && name.invalid }"
          [(ngModel)]="model.password"
          #name="ngModel"
          required
        />
        <span class="floating-label">NAME</span>
        <p class="hint-email">
          <i class="fas fa-exclamation-circle"></i> Enter your name.
        </p>
        <div class="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
          <p
            class="required-warning invalid-feedback"
            *ngIf="name.errors?.required"
          >
            <i class="fas fa-exclamation-circle"></i> Required field
          </p>
        </div>
      </div>
      <div class="user-input-wrp password-input-wrp form-group">
        <br />
        <input
          type="password"
          name="password"
          class="inputText form-control"
          id="password"
          [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
          [(ngModel)]="model.password"
          #password="ngModel"
          required
        />
        <span class="floating-label">PASSWORD</span>
        <p class="hint-email">
          <i class="fas fa-exclamation-circle"></i> Enter a secure password: at
          least 8 characters.
        </p>
        <div
          class="alert"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <p
            class="required-warning invalid-feedback"
            *ngIf="password.errors?.required"
          >
            <i class="fas fa-exclamation-circle"></i> Required field
          </p>
        </div>
      </div>
    </form>
    <button>CREATE ACCOUNT</button>
  </div>
</div>
