.main-container {
  width: 210vh;
  height: 100vh;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  margin-left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
img {
  width: 350px;
  margin-left: 50%;
  transform: translate(-50%);
}

.carouselTrack-container {
  padding: 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carouselTrack {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 700ms ease-in;
}
.carouselSlide {
  position: absolute;
  bottom: 0;
  width: 100%;
}
p {
  font-size: 10px;
  margin-left: 50%;
  transform: translate(-55%);
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.leftBtn {
  left: 2%;
  z-index: 10;
}
.rightBtn {
  margin-left: 92%;
}
.is-hidden {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .card {
    margin-left: 0%;
    transform: translate(-0%);
    cursor: pointer;
  }
  img {
    width: 350px;
    margin-left: 37%;
    transform: translate(-37%);
  }
  p {
    font-size: 10px;
    margin-left: 50%;
    transform: translate(-47%);
  }
  .rightBtn {
    margin-left: 72%;
  }
}

@media only screen and (max-width: 1050px) and (min-height: 1366px) {
  .main-container {
    width: 100vh;
    height: 100vh;
  }
  .card {
    margin-bottom: 15%;
    margin-left: 0%;
  }
  img {
    width: 700px;
    margin-left: 23%;
    transform: translate(-23%);
  }
  .leftBtn {
   font-size: 20px;
  }
  .rightBtn {
    margin-left: 65%;
    width: 150px;
    font-size: 20px;
  }
  p {
    font-size: 15px;
    margin-left: 34%;
    transform: translate(-34%);
  }
}
