
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  
}
::-webkit-scrollbar {
  width: 1px; 
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: black; 
}
section{
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
  width: 100%;
}
.two .container{
  margin-left: 15%;
  margin-top: 20%;
}
.input-container{
  margin-bottom: 100px;
}
.input-container input{
  border: 0;
  border-bottom: 1px solid grey;
  width: 300px;
  padding-bottom: 5px;
}
input::-webkit-input-placeholder {
  font-size: 11px;
  font-weight: 500;
}
.grid-container{
  display: flex;
  margin-bottom: 60px;
}
.grid-container p{
  margin-right: 40px;
  font-size: 11px;
  cursor: pointer;
}



@media only screen and (max-width: 1050px) and (min-height: 1366px) {
  .two .container{
    margin-top: 60%;
    margin-left: 15%;
  }
}