<app-navbar></app-navbar>
<div class="container">
  <section class="one">
    <div class="carousel" >
      <app-home-carousel></app-home-carousel>
    </div>
  </section>
  <section class="two">
    <div class="container">
      <div class="input-container">
        <h3>JOIN OUR NEWSLETTER</h3>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="ENTER YOUR EMAIL ADDRESS HERE"
        />
      </div>
      <div class="grid-container">
        <p>INSTAGRAM</p>
        <p>FACEBOOK</p>
        <p>TWITTER</p>
        <p>PINTEREST</p>
        <p>YOUTUBE</p>
      </div>
      <h5>COOKIES SETTINGS | PRIVANCY AND COOKIES POLICY | TERMS OF USE</h5>
    </div>
  </section>
</div>
