<app-navbar></app-navbar>
<div class="container">
  <section class="one">
    <div class="carousel">
      <app-home-carousel></app-home-carousel>
    </div>
  </section>
  <section class="two">
    <div class="container">
      <h3>JOIN OUR NEWSLETTER</h3>
      <div class="user-input-wrp email-input-wrp form-group">
        <br />
        <input
          type="email"
          class="inputText email-input form-control"
          name="email"
          id="email"
          required
        />
        <span class="floating-label">ENTER YOUR E-MAIL ADDRESS HERE</span>
        <p class="hint-email">
          <i class="fas fa-exclamation-circle"></i> Enter your e-mail address.
        </p>
      </div>
      <div class="grid-container">
        <p>INSTAGRAM</p>
        <p>FACEBOOK</p>
        <p>TWITTER</p>
        <p>PINTEREST</p>
        <p>YOUTUBE</p>
      </div>
      <h5>COOKIES SETTINGS | PRIVANCY AND COOKIES POLICY | TERMS OF USE</h5>
    </div>
  </section>
</div>
