.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: black;
}
section {
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
  width: 100%;
}
.two .container {
  margin-left: 15%;
  margin-top: 20%;
}

.user-input-wrp {
  position: relative;
  width: 250px;
  height: 70px;
}
.user-input-wrp .inputText {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  box-shadow: none !important;
}
.user-input-wrp .inputText:focus {
  border-color: rgb(104, 104, 104);
  border-width: small small 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 19px;
  left: 5px;
  font-size: 10px;
  transition: 0.2s ease all;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
}
.user-input-wrp .hint-email {
  display: none;
  font-size: 9px;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
}
.user-input-wrp input:focus ~ .hint-email {
  font-size: 9px;
  color: rgb(104, 104, 104);
  font-family: "Roboto Condensed", sans-serif;
  display: block;
}
.user-input-wrp input:focus ~ .alert {
  display: none;
}
.user-input-wrp .required-warning {
  color: red;
  font-size: 9px;
  font-family: "Roboto Condensed", sans-serif;
}
.grid-container {
  display: flex;
  margin-bottom: 60px;
}
.grid-container p {
  margin-right: 40px;
  font-size: 11px;
  cursor: pointer;
}

@media only screen and (max-width: 1050px) {
  .carousel {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1050px) and (min-height: 1366px) {
  .two .container {
    margin-top: 60%;
    margin-left: 15%;
  }
}
